<html>
<body>
{% include header.html %}
{% include sends.html %}
</body>
<!--<?php include("./header.php")?>
<?php include("./sends.php")?>-->
    <main>
        <div class="general-Container">
            <div class="mark-Container">
                <ul>
                    <li>
                        <a class="dapop" href="https://z-p42.www.instagram.com/dapopmakeupstore/?hl=da">DAPOP</a>
                    </li>
                    <li>
                        <a class="pink21" href="https://www.instagram.com/pink21aroficial/?hl=es">PINK 21</a>
                    </li>
                    <li>
                        <a class="tejar" href="https://www.instagram.com/tejarmakeup_/?hl=es">Tejar</a>
                    </li>
                </ul>
            </div>
            <div class="sales-Container">

            </div>
        </div>
    </main>
</body>
</html>